name: master

on:
  push:
    branches:
    - master

jobs:

  #--------------------------
  # BUILD
  #--------------------------
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v1


  #--------------------------
  # INT DEPLOYMENT
  #--------------------------
    - name: int-deploy
      env:
        HEROKU_APP: int-com-wutsi-dashboard-web
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh
        heroku git:remote -a int-com-wutsi-dashboard-web


  #--------------------------
  # PROD DEPLOYMENT
  #--------------------------
    - name: prod-deploy
      env:
        HEROKU_APP: com-wutsi-dashboard-web
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh
        heroku git:remote -a com-wutsi-dashboard-web
