name: master

on:
  push:
    branches:
    - master

jobs:

  #--------------------------
  # BUILD
  #--------------------------
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v1


  #--------------------------
  # INT DEPLOYMENT
  #--------------------------
    - name: int-deploy
      env:
        HEROKU_API_KEY: ${{secrets.INT_HEROKU_API_KEY}}
        HEROKU_APP: int-com-wutsi-dashboard-web
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh
        heroku git:remote -a int-com-wutsi-dashboard-web

    - name: int-healthcheck
      run: |
        sleep 60
        curl -sSf https://int-com-wutsi-blog.herokuapp.com/actuator/health >> /dev/null


  #--------------------------
  # PROD DEPLOYMENT
  #--------------------------
#    - name: prod-deploy
#      env:
#        HEROKU_API_KEY: ${{secrets.PROD_HEROKU_API_KEY}}
#        HEROKU_APP: com-wutsi-blog
#      run: |
#        curl https://cli-assets.heroku.com/install.sh | sh
#        heroku plugins:install @heroku-cli/plugin-java
#        heroku buildpacks:clear --app ${HEROKU_APP}
#        heroku deploy:jar target/wutsi-blog-service.jar --app ${HEROKU_APP}
#
#    - name: prod-healthcheck
#      run: |
#        sleep 60
#        curl -sSf https://com-wutsi-blog.herokuapp.com/actuator/health >> /dev/null
