body {}

form {
display: flex;
}

.form-content {

    
    margin-left: 50px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    color: white;

}

#form-control {
    width: 100px;
    height: 100px;
    font-size: 20px;
}
