body {}

form {}

.form-content {
    color: #ffffff;
    margin: 200px;
}

#form-control {
    width: 400px;
    height: 100px;
    font-size: 15px;
    background-color: gray;
}

p {
    text-align: center;
    font-size: 20PX;
    color: greenyellow;
}

a {
    text-align: center;
    font-size: 20PX;
    font-weight: bold;
    color: #4b4bc4;
}