    body {}
    
    form {
        align-content: center;
    }
    
    .form-content {
        color: #ffffff;
        box-shadow: 1px 2px 2px;
        margin-left: 600px;
    }
    
    label {
        margin-top: 1rem;
        font-size: 15px;
    }
    
    #form-control {
        width: 400px;
        height: 100px;
        font-size: 20px;
        background-color: whitesmoke;
    }
    
    button {
        background-color: #4b4bc4;
        width: 400px;
        height: 60px;
        font-size: 20px;
        color: #4b4bc4;
    }
    
    p {
        text-align: center;
        font-size: 20PX;
        color: greenyellow;
    }
    
    .output {
        text-align: center;
        font-size: 20PX;
        font-weight: bold;
        color: #4b4bc4;
        margin-left: 600px;
    }