body {
    background-color: red;
}

form {
    margin-left: 20px;
}

.form-content {
    display: flex;
    justify-content: center;
}

#form-control {
    width: 200px;
    height: 200px;
    font-size: 20px;
}