body {}

form {}

.form-content {
    color: #ffffff;
    margin: 400px;
    box-shadow: 1px 2px2px;
}

label {
    margin-top: 1rem;
    font-size: 15px;
}

#form-control {
    width: 400px;
    height: 100px;
    font-size: 20px;
    background-color: gray;
    justify-content: center;
}

p {
    text-align: center;
    font-size: 20PX;
    color: greenyellow;
}

a {
    text-align: center;
    font-size: 20PX;
    font-weight: bold;
    color: #4b4bc4;
    text-align: center;
}